body {
	font-family: 'Markazi Text', serif;
	font-family: 'Mukta Malar', sans-serif;
	margin: 0; /* gets rid of whitespace to left of top nav bar */
}

.topnav {
	overflow: hidden;
	background-color: mistyrose;
}

.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	color: #F76C6C; /* light coral #F08080 */
}

.topnav a.active {
	background-color: #f1f1f1; 
	color: black;
}

.hi {
	color: #F76C6C; /* F672808*/
	text-align: center;
	font-style: bold;
	font-size: 34;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

.description {
	color: #123C69; /* F672808*/
	text-align: center;
	font-style: bold;
	font-size: 28;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

h1{margin:0;}
p{margin:0;}



.main {
	padding: 150px 100px;
}


		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}
