body {
	font-family: 'Markazi Text', serif;
	font-family: 'Mukta Malar', sans-serif;
	margin: 0; /* gets rid of whitespace to left of top nav bar */
}

.topnav {
	overflow: hidden;
	background-color: mistyrose;
}

.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	color: #F08080; /* light coral */
}

.topnav a.active {
	background-color: #f1f1f1; 
	color: black;
}


.main {
	margin-left: 60px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}


		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}
